body{background: whitesmoke; }



.title{display: flex;
justify-content: center;}

.autdat{display:flex;
justify-content: space-between}

.cadre{
    border : red solid 1px;
    padding:1rem;
    margin:1rem;
}