{% extends 'base.html.twig' %}

{% block title %}Hello Form!{% endblock %}

{% block body %}

<div class='title'><h1>Blog</h1></div>

<div class="col-12">
{{form_start(form)}}
{{form_widget(form)}}
</div>
<button class="btn btn-primary">Add</button>
{{form_end(form)}}
<button  href="{{path('post')}}"  class="btn btn-primary">accueil</button>
<button class="btn btn-primary"><a href="{{path('post')}}" class="card-link">Show More</a></button>
{% endblock %}