{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}




{% block body %}
<div class='title'><h1>Blog</h1></div>

<div clas='row'>
    {# boucle pour présenter tout les post#}
    {% for post in posts %}

    <div class="cadre">

        <div class="title ">

            <p>{{post.title}}</p>
        </div>

        <div class="autdat">
            <p>de : {{post.author}}</p>
            <p>{{post.date|date("d-m-y")}}</p>
        </div>




        <button><a  href="{{path('one_post', {id:post.id})}}">Voir</a></button>
        {#<a href="{{path('efface_post',{id:post.id})}}">Effacer</a>#}


    </div>

    {% endfor %}
</div>{# fin de row#}

<div class='title'><button > <a href="{{path('post_add')}}" class="card-link">Ajouter</a></button></div>





{% endblock %}