{% extends 'base.html.twig' %}

{% block title %}Modifier votre post!{% endblock %}

{% block body %}

<div class='title'><h1>Blog</h1></div>

<a>Modifier votre post</a>

{{form_start(form)}}
{{form_widget(form)}}
<button class="btn btn-primary">Modifier</button>
{{form_end(form)}}
<a href="{{path('post')}}" class="card-link">Accueil</a>

{% endblock %}