{% extends 'base.html.twig' %}

{% block title %}Votre post!{% endblock %}

{% block body %}
<div class='title'><h1>Blog</h1></div>
    <div class="cadre">

        <div class="title ">

            <p>{{post.title}}</p>
        </div>
        <p>{{post.content}}</p>

        <div class="autdat">
            <p>de : {{post.author}}</p>
            <p>{{post.date|date("d-m-y")}}</p>
        </div>


        <a href="{{path('modify-post', {id:post.id})}}">Modifier</a>
        <a href="{{path('remove-post', {id:post.id})}}">Supprimer</a>

    </div>{# fin du post#}
<a href="{{path('post')}}" class="card-link">Retour à l'accuei</a>
{% endblock %}