{% extends 'base.html.twig' %}

{% block title %}Résiliation!{% endblock %}

{%  block  body  %}

<div class='title'><h1>Blog</h1></div>

<div class='title'>
<a>Le post a bien été supprimer     </a>
<button><a href="{{path('post')}}" class="card-link">Accueil</a></button>
</div>
{%  endblock  %}